.information {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(69, 69, 72, 0.42);
  padding: 5px;
  margin-bottom: 20px;
  color: black;
  font-size: large;
  font-weight: bold;
  width: 100%;

}

.robot {
  width: 0;
  height: 0;
  position: absolute;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid rgb(90, 87, 87);
}

.wave {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: rgb(1, 136, 53);
  border-radius: 50%;
  animation: radarWave 1s ease-out infinite;
  transform-origin: center;
}

@keyframes radarWave {
  0% {
    transform: scale(0);
    opacity: 0.3;
  }
  100% {
    transform: scale(4);
    opacity: 0;
  }
}

.joystickStyle {
  display: flex;
  justify-content: space-between;
  align-items: center;

}


.wrapperRobot {
  position: fixed;
  bottom: 0;
  width: 100%; /* ajusta el ancho según tus necesidades */
  /* color: #fff; Color del texto dentro del div */
  padding: 100px; /* Espaciado interior del div */
}


.room{
  width: 380px;
  height: 500px;
  border: 2px solid black;
  position: relative; /* Cambiamos a posición relativa */
  margin: 0 auto; /* Centramos horizontalmente */
}
.carga{
  width: 30px;
  height: 30px;
  background-color: black;
}